body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
}

a:visited {
  color: black;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex {
  display: flex;
}
